.table-wrapper {
  background-color: hsl(207, 85%, 97%);
  border-radius: 5px;
  margin: 10px 0;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

td,
th {
  border: 1px solid hsl(210, 8%, 90%);
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
